---
---

@import "{{ site.theme }}";

.page-header {
  float: left;
  width: 100%;
  .page-header-container {
    @media (min-width: 64rem){
      max-width: 52rem;
      margin: 0 auto;
      display: block;
    }
    .project-image {
      float: left;
      width: 25%;
      img{
        overflow: hidden;
        border-radius: 100%;
        width: 200px;
        height: auto;
      }
    }
    .project-data {
      float: left;
      width: 75%;
      padding-left: 30px;
      text-align: left;
      .project-name {
        font-size: 25px;
      }
      .project-tagline{
        margin-top: 0px;
        margin-bottom: 20px;
      }
      h4{
        opacity: 0.7;
        font-weight: normal;
        margin-top: 0px;
        margin-bottom: 5px;
      }
    }
  }
}
